<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Примеры. Пользовательский макет балуна кластера.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">

    <script src="//yandex.st/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js" type="text/javascript"></script>
    <script src="//api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU&mode=debug" type="text/javascript"></script>
    <script src="points-generator.js" type="text/javascript"></script>

    <script type="text/javascript">
    ymaps.ready(function () {
        var myMap = new ymaps.Map('YMapsID', {
                center: [55.751574, 37.573856],
                zoom: 9,
                behaviors: ['default', 'scrollZoom']
            }),
            generator = new RandomPointsGenerator(),
            MyBalloonLayout = ymaps.templateLayoutFactory.createClass(
                '<div class="popover top">' +
                    '<a class="close" href="#">&times;</a>' +
                    '<div class="arrow"></div>' +
                    '<div class="popover-inner">' +
                        '<div class="tabbable tabs-left">' +
                            '<ul class="nav nav-tabs"></ul>' +
                            '<div class="tab-content"></div>' +
                        '</div>' +
                    '</div>' +
                '</div>', {
                build: function () {
                    var state = this.getData().state;

                    this.geoObjects = this.getData().properties.get('geoObjects', [null]);
                    this.activeObject = state.get('activeObject', this.geoObjects[0]);
                    this.activeObjectIndex = this._findActiveObjectIndex();

                    if(!state.get('activeObject')) {
                        state.set('activeObject', this.activeObject);
                    }
                    this._loadMainContent(this.activeObject);
                    // this._setActiveObject(this.activeObject);

                    this.constructor.superclass.build.call(this);

                    this.scrollTopTimeoutId = null;
                    this.$element = $('.popover', this.getParentElement());
                    this.$closeButton = $('.close', this.getParentElement());
                    this.$sidebar = $('.nav', this.getParentElement());
                    this.$mainContent = $('.tab-content', this.getParentElement());
                    this.sidebarTemplate = $('#sidebarTemplate');
                    this.mainContentTemplate = $('#mainContentTemplate');
                    // this.sidebarItemTemplate = $('#sidebarItemTemplate');
                    this._createSidebarItems();
                    this._applyElementOffset();
                    this._setScrollTop(this._getScrollTop());
                    this._attachListeners();
                },
                clear: function () {
                    this._detachListeners();
                    this._clearSidebarItems();
                    this._clearScrollTopTimeout();
                    this.constructor.superclass.clear.call(this);
                },
                _clearScrollTopTimeout: function () {
                    if(this.scrollTopTimeoutId) {
                        window.clearTimeout(this.scrollTopTimeoutId);
                        this.scrollTopTimeoutId = null;
                    }
                },
                _attachListeners: function () {
                    this.$closeButton
                        .on('click', $.proxy(this._onCloseButtonClick, this));
                    this.$sidebar
                        .delegate('li', 'click', $.proxy(this._onSidebarItemClick, this));
                },
                _detachListeners: function () {
                    this.$closeButton.off('click');
                    this.$sidebar.undelegate('li', 'click');
                },
                _getScrollTop: function () {
                    return this.$sidebar.children().eq(this.activeObjectIndex).offset().top;
                },
                _setScrollTop: function (scrollTop) {
                    // выставление делается асинхронно, так как
                    // балун сначала строится, а потом передвигается на нужную позицию
                    this.scrollTopTimeoutId = window.setTimeout($.proxy(function () {
                        this.$sidebar.scrollTop(scrollTop);
                        this.scrollTopTimeoutId = null;
                    }, this), 0);
                },
                _onCloseButtonClick: function (e) {
                    e.preventDefault();

                    this.events.fire('userclose');
                },
                _onSidebarItemClick: function (e) {
                    e.preventDefault();

                    var index = this.$sidebar.children().index(e.currentTarget);

                    // this.scrollTop = this.$sidebar.scrollTop();
                    this.activeObjectIndex = index > -1 ? index : 0;
                    this._setActiveObject(this.geoObjects[this.activeObjectIndex]);
                },
                _findActiveObjectIndex: function () {
                    var index = $.inArray(this.activeObject, this.geoObjects);

                    return index > -1 ? index : 0;
                },
                _setActiveObject: function (activeObject) {
                    if(this.activeObject !== activeObject) {
                        this.activeObject = activeObject;
                        this.getData().state.set('activeObject', activeObject);
                        this._createSidebarItems();
                        this._loadMainContent(activeObject);
                    }
                },
                _loadMainContent: function (geoObject) {
                    ymaps.geocode(geoObject.geometry.getCoordinates())
                        .then($.proxy(this._onContentLoaded, this));
                },
                _onContentLoaded: function (res) {
                    var data = res.geoObjects.get(0).properties.getAll(),
                        address = data.metaDataProperty.GeocoderMetaData.AddressDetails;

                    this.$mainContent.html($.tmpl(this.mainContentTemplate, {
                        data: data,
                        address: address
                    }));
                },
                /**
                 * Сдвигаем балун чтобы "хвостик" указывал на точку привязки.
                 * @see http://api.yandex.ru/maps/doc/jsapi/2.x/ref/reference/IBalloonLayout.xml#event-userclose
                 * @function
                 * @private
                 * @name applyElementOffset
                 */
                _applyElementOffset: function () {
                    this.$element.css({
                        left: -(this.$element[0].offsetWidth / 2),
                        top: -(this.$element[0].offsetHeight + this.$element.find('.arrow')[0].offsetHeight)
                    });
                },
                /**
                 * Используется для автопозиционирования (balloonAutoPan).
                 * @see http://api.yandex.ru/maps/doc/jsapi/2.x/ref/reference/ILayout.xml#getClientBoundingRect
                 * @function
                 * @name getClientBoundingRect
                 * @returns {Number[][]} Координаты левого верхнего и правого нижнего углов шаблона относительно точки привязки.
                 */
                getClientBoundingRect: function () {
                    var left = this.$element.position().left,
                        top = this.$element.position().top;

                    return [
                        [left, top], [
                            left + this.$element[0].offsetWidth,
                            top + this.$element[0].offsetHeight + this.$element.find('.arrow')[0].offsetHeight
                        ]
                    ];
                },
                _createSidebarItems: function () {
                    this.$sidebar.html($.tmpl(this.sidebarTemplate, {
                        geoObjects: this.geoObjects,
                        activeIndex: this._findActiveObjectIndex()
                    }));
                },
                _clearSidebarItems: function () {
                    this.$sidebar.empty();
                }
            });

        // Перекрываем метод генератора меток для создания подписей к маркерам.
        generator.getPointData = function (i) {
            return {
                balloonContentBody: 'Метка ' + i,
            };
        };

        // Создаем 200 меток внутри области видимости карты.
        var points = generator.generate(200).atBounds(myMap.getBounds()),
            clusterer = new ymaps.Clusterer({
                // Поскольку опции задаются для кластеров, а не для всего
                // кластеризатора, им нужно приписать префикс 'cluster'.
                clusterDisableClickZoom: true,
                // Если нужно задать опции для балуна кластера, то к названию
                // опции приписываются сразу 2 префикса - 'cluster' и 'balloon'.
                clusterBalloonLayout: MyBalloonLayout
            });

        // Добавим геообъекты в кластеризатор.
        clusterer.add(points);
        // А сам кластеризатор добавим на карту.
        myMap.geoObjects.add(clusterer);
    });
    </script>
    <!-- Шаблон содержимого сайдбара. -->
    <script id="sidebarTemplate" type="text/x-jquery-tmpl">
        {{each(i, geoObject) geoObjects}}
            {{tmpl({
                i: i,
                geoObject: geoObject,
                activeIndex: activeIndex
            }) "#sidebarItemTemplate"}}
        {{/each}}
    </script>
    <!-- Шаблон элемента сайдбара. -->
    <script id="sidebarItemTemplate" type="text/x-jquery-tmpl">
        <li{{if i == activeIndex}} class="active"{{/if}}>
            <a href="#" data-toggle="tab">${geoObject.properties.get("balloonContentBody")}</a>
        </li>
    </script>
    <!-- Шаблон основного содержимого. -->
    <script id="mainContentTemplate" type="text/x-jquery-tmpl">
        <address>
            <strong>${data.name}</strong><br/>
            {{if address.Country.AdministrativeArea}}
                {{if address.Country.AdministrativeArea.SubAdministrativeArea}}
                    ${address.Country.AdministrativeArea.SubAdministrativeArea.SubAdministrativeAreaName}<br/>
                {{/if}}
                ${address.Country.AdministrativeArea.AdministrativeAreaName}<br/>
            {{/if}}
            ${address.Country.CountryName}
        </address>
    </script>
    <style type="text/css">
        #YMapsID {
            width: 900px;
            height: 400px;
        }
        .popover {
            display: block;
            min-width: 360px;
            min-height: 200px;
            padding: 10px;
        }
        .popover .close {
            position: absolute;
            right: 5px;
            top: 1px;
        }
        .popover-inner {
            max-height: 300px;
            overflow: auto;
        }
        .nav-tabs {
            max-height: 280px;
            overflow: auto;
        }
        /* иначе зарезается левая часть обводки у выбранного пункта списка */
        .nav-tabs li {
            padding-left: 3px;
        }
    </style>
</head>
<body>
    <div class="hero-unit">
        <div class="container">
            <p>Пользовательский макет балуна кластера.</p>
            <div id="YMapsID"></div>
        </div>
    </div>
</body>
</html>
